@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');


html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans HK', sans-serif;
}

/*header*/

section.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(/backgroundimg/backgroundimg.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #F4F2FA;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Noto Sans HK', sans-serif;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #F4F2FA;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #F4F2FA;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

/*h or p*/
h.h1{
    font-size: 35px;
}

p.p1{
    margin: 10px 0 40px;
    font-size: 16px;
    color: #F4F2FA;
}

/*btn*/

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #F4F2FA;
    border: 1px solid #F4F2FA;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #C8CEDE;
    background-color: #C8CEDE;
    transition: 1s;
}

/*mobile*/

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
        margin: 2.5rem 0;
    }
    .nav-links{
        position: absolute;
        background: #374551;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: #F4F2FA;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }

    .header{
        overflow-x: hidden;
    }

    #closeicons{
        position: relative;
        bottom: -50px;
        right: -10px;
    }
}

/*course*/

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h.h2{
    font-size: 30px;
    font-weight: 600;
}

p.p2{
    color: #F4F2FA;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #F4F2FA;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h.h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

h.h4{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

h.h5{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}


/*works*/

h.h6{
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
}

/*works(1)*/

/*

.works{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.works-col{
    flex-basis: 32px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.works-col img{
    width: 100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(0,0,0,0.2);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #F4F2FA;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.row1{
    margin-top: auto;
    display: block;
    justify-content: space-between;
}

*/

/*work(2)*/

.works{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.works-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.works-col img{
    width: 100%;
    border-radius: 10px;
}

.works-col p{
    padding: 0;
}

.works-col h3{
    margin-top: 16px;
    margin-bottom: 15;
    text-align: left;
}


/*Call to Us*/

.ctu{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/backgroundimg/backgroundimg2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0; 
}

.ctu h1{
    color: #F4F2FA;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px){
    .ctu h1{
        font-size: 24px;
    }
}

/*footer*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

/*icons*/
.icons .fa{
    color: #FF384D;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

h.p10{
    font-family: 'Noto Sans TC', sans-serif;
}

/******************************/

/*img*/
/*
.img-row-padding{
    margin-bottom: 128px;
}

.img-settings{
    width: 100%;
}

.img-row-padding img{
    margin-bottom: 12px;
}
*/
/******************************/

/*img-css*/

.container-img {
    position: relative;
    column-count: 4;
    padding: 20px;
}

.imge {
    display: inline-block;
    margin: bottom 10px;
    overflow: hidden;
}

.img-settings {
    width: 100%;
    transition: 0.25s ease-in-out;
}


/*mobile-img*/

@media only screen and (max-width: 1024px) {
    .container-img {
        column-count: 3;
    }
}

@media only screen and (max-width: 768px) {
    .container-img {
        column-count: 2;
    }
}

@media only screen and (max-width: 425px) {
    .container-img {
        column-count: 1;
    }
}



/*Make by MKHD54*/