@media screen and (min-width: 1920px) and (min-height: 1080px) {
    .product-item {
        top: 362px;
        left: 229px;
    }

    .background-layout {
        top: 235px;
        left: 144px;
        width: 640px;
        height: 640px;
    }
}

@media screen and (max-width: 1024px) and (max-height: 1080px) {}

@media screen and (max-width: 1280px) and (max-height: 720px) {
    .product-item {
        top: 267px;
        left: 141px;
    }

    .background-layout {
        top: 203px;
        left: 74px;
        width: 480px;
        height: 480px;
    }
}

/* @media screen and (max-width: 390px) and (max-height: 844px) {  */
@media only screen and (max-width: 700px) {
    .nav-menu-btn {
        position: relative;
        width: 30px;
        height: 30px;
        display: block;
    }

    #toggler {
        display: none;
    }

    .menu-hum-btn span {
        display: block;
        background: var(--color-rd);
        border-radius: 10px;
        height: 2px;
        margin: 7px 0;
        transition: all .4s ease-in-out;
    }

    #toggler:checked+label .menu-hum-btn span:nth-of-type(1) {
        transform-origin: top;
        transform: translateY(8.8px) rotate(45deg);
    }

    #toggler:checked+label .menu-hum-btn span:nth-of-type(2) {
        opacity: 0;
        transform: translateX(-100%) rotate(0deg);
    }

    #toggler:checked+label .menu-hum-btn span:nth-of-type(3) {
        transform-origin: bottom;
        transform: translateY(-10px) rotate(-45deg);
    }

    /*******************************************************************/

    .navbar {
        margin: 0 40px;
        padding-top: 40px;
    }

    .navbar-item {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        z-index: 99;
    }

    .menu-toggle {
        padding-left: 0;
        position: absolute;
        flex-direction: column;
        /* justify-content: space-around; */
        justify-content: center;
        right: -100%;

        top: 0;
        min-height: 100vh;
        background: var(--color-gn);

        transition: all .8s ease-in-out;
        
        height: 100%;

    }

    .nav-menu .menu-items .menu-item {
        display: block;
        padding: 22px;
        text-align: center;
    }

    .menu {}

    .menu-items .menu-item .menu-link {}

    .nav-language-btn {
        position: absolute;
        bottom: 15%;
    }

    .open {
        right: 0;

    }

    /*********************************************************************/

    .product-section {
        position: relative;
        overflow-x: hidden;
    }

    #image-container img {
        /* display: none; */
        width: 226px;
    }

    .background-logo-layout img {
        width: 310px;
        height: 523px;
    }

    .background-layout {
        /* display: none; */
        width: 324px;
        height: 324px;
        top: 504px;
        left: 15px;
    }

    .image-effect {
        /* display: none; */
    }

    .product-item {
        /* display: none; */
        top: 69%;
        left: 46px;
    }

    .product-caption {
        font-size: 28px;
    }

    .product-detail-text {
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 20px;
    }

    .effect {
        width: 100%;
        overflow-x: hidden;
    }

    .effect.scroll {
        transform: scale(3);
    }

}