<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="CA redesign website">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="MOK Ka Ho">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>道地 - Tao Ti</title>

    <link rel="shortcut icon" href="/image/logo/shortcutLogo.png" type="image/x-icon">
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="../language/style.css">
    <link rel="stylesheet" href="/style/mobile.css">
</head>

<!--
   ┻┳|―-∩
   ┳┻| ヽ
   ┻┳| ● |
   ┳┻|▼) _ノ
   ┻┳|￣ )
   ┳ﾐ(￣ ／
   ┻┳T￣|
-->

<body>
    <header>
        <nav role="navigation" id="nav">
            <div class="navbar">
                <div class="navbar-item">
                    <div class="nav-logo">
                        <a href="" class="logo-link">
                            <img src="/image/logo/logo.jpg" alt="logo" class="logo" />
                        </a>
                    </div>
                    <div class="nav-menu-btn" id="nav_menu_btn">
                        <input type="checkbox" id="toggler" />
                        <label for="toggler">
                            <div class="menu-hum-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="menu-toggle">
                    <div class="nav-menu">
                        <div class="menu">
                            <ul class="menu-items">
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        About Tao Ti
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Product Information
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Green Holidays
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                       Tao Ti Project
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        Charity Project
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav-language-btn">
                        <ul class="language-items">
                            <li class="language-item">
                                <a href="/index.html" class="language-link active" id="language-zh">
                                    中文
                                </a>
                            </li>
                            <span>|</span>
                            <li class="language-item">
                                <a href="../language/en.html" class="language-link" id="language-en">
                                    ENG
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div id="image-container">
        <img src="/image/product_image/01/1623295993431189 1.png" alt="product image" class="active"
            id="product_image" />
        <img src="/image/product_image/02/1623296065185117 1.png" alt="product image" class="" id="product_image" />
        <img src="/image/product_image/03/1623297617139308 1.png" alt="product image" class="" id="product_image" />
        <img src="/image/product_image/04/1623297664510603 1.png" alt="product image" class="" id="product_image" />
        <img src="/image/product_image/05/1623297715434063 1.png" alt="product image" class="" id="product_image" />
    </div>

    <div class="background-logo-layout">
        <img src="/image/background/backgroundLayout.png" />
    </div>

    <!--product-01-->
    <section class="product-section product-01" id="product_section">
        <div class="product-container">
            <div class="product-content-item">
                <div class="product-item">
                    <div class="text-item">
                        <h2 class="product-caption">
                            Lychee Juice Drink
                        </h2>
                        <p class="product-detail-text">
                            Lychee juice with refreshing nata de coco is the most popular combination. In addition to
                            the delicious lychee juice, it is accompanied by pleasantly chewy nata de coco to bring you
                            a double good taste.
                        </p>
                    </div>
                    <div class="more-hero-btn">
                        <a href="" class="hreo-btn">
                            Watch more
                        </a>
                    </div>
                </div>
                <!-- <div class="product-image">
                    <img src="./image/product_image/01/1623295993431189 1.png" alt="product image" class="" id="product_image_01" />
                </div> -->
                <div class="image-effect">
                    <img src="/image/product_image/01/isolated-exotic-fruit-lychee-fruits-falling-down-with-clipping-path-as-package-design-element_434033-872.png"
                        alt="" class="effect scroll" id="effect" />
                </div>
                <div class="background-layout"></div>
            </div>
        </div>
    </section>

    <!--product-02-->
    <section class="product-section product-02" id="product_section">
        <div class="product-container">
            <div class="product-content-item">
                <div class="product-item">
                    <div class="text-item">
                        <h2 class="product-caption">
                            Kyoho Grape Juice Drink
                        </h2>
                        <p class="product-detail-text">
                            The rich Kyoho grape juice is added with refreshing nata de coco, it is definitely a
                            delicious combination to enjoy.
                        </p>
                    </div>
                    <div class="more-hero-btn">
                        <a href="" class="hreo-btn">
                            Watch more
                        </a>
                    </div>
                </div>
                <!-- <div class="product-image">
                     <img src="./image/product_image/02/1623296065185117 1.png" alt="product image" class="" id="product_image_02"/>
                 </div> -->
                <div class="image-effect">
                    <img src="/image/product_image/02/falling-red-green-grapes-your-design_34168-1699.png" alt=""
                        class="effect" id="effect" />
                </div>
                <div class="background-layout"></div>
            </div>
        </div>
    </section>

    <!--product-03-->
    <section class="product-section product-03" id="product_section">
        <div class="product-container">
            <div class="product-content-item">
                <div class="product-item">
                    <div class="text-item">
                        <h2 class="product-caption">
                            Pineapple Juice Drink
                        </h2>
                        <p class="product-detail-text">
                            In the fragrant pineapple juice, refreshing Nata de Coco is added. In addition to the
                            delicious pineapple juice, it also obtains Nata de Coco full of yummy taste.
                        </p>
                    </div>
                    <div class="more-hero-btn">
                        <a href="" class="hreo-btn">
                            Watch more
                        </a>
                    </div>
                </div>
                <!-- <div class="product-image">
                     <img src="./image/product_image/03/1623297617139308 1.png" alt="product image" class=""
                         id="product_image_3" />
                 </div> -->
                <div class="image-effect">
                    <img src="/image/product_image/03/falling-pineapple-slices-cutout-psd-file_34168-3357 1.png" alt=""
                        class="effect" id="effect" />
                </div>
                <div class="background-layout"></div>
            </div>
        </div>
    </section>

    <!--product-04-->
    <section class="product-section product-04" id="product_section">
        <div class="product-container">
            <div class="product-content-item">
                <div class="product-item">
                    <div class="text-item">
                        <h2 class="product-caption">
                            Peach Juice Drink
                        </h2>
                        <p class="product-detail-text">
                            Adding pleasantly chewy nata de coco into the luscious peach juice, together it creates a
                            delicious Tao Ti Peach Juice Drink with Nata de Coco
                        </p>
                    </div>
                    <div class="more-hero-btn">
                        <a href="" class="hreo-btn">
                            Watch more
                        </a>
                    </div>
                </div>
                <!-- <div class="product-image">
                      <img src="./image/product_image/04/1623297664510603 1.png" alt="product image" class=""
                          id="product_image_04" />
                  </div> -->
                <div class="image-effect">
                    <img src="/image/product_image/04/falling-peach-isolated_174714-222 1.png" alt="" class="effect"
                        id="effect" />
                </div>
                <div class="background-layout"></div>
            </div>
        </div>
    </section>

    <!--product-05-->
    <section class="product-section product-05" id="product_section">
        <div class="product-container">
            <div class="product-content-item">
                <div class="product-item">
                    <div class="text-item">
                        <h2 class="product-caption">
                            Mango Juice Drink
                        </h2>
                        <p class="product-detail-text">
                            Tangy mango juice is added with refreshing nata de coco, offering you to enjoy this
                            delicious and fragrant mango juice with pleasantly chewy texture by nata de coco.
                        </p>
                    </div>
                    <div class="more-hero-btn">
                        <a href="" class="hreo-btn">
                            Watch more
                        </a>
                    </div>
                </div>
                <!-- <div class="product-image">
                       <img src="./image/product_image/05/1623297715434063 1.png" alt="product image" class=""
                           id="product_image_05" />
                   </div> -->
                <div class="image-effect">
                    <img src="/image/product_image/05/mango-fruit-sliced-with-leaves-isolated_328278-169 1.png" alt=""
                        class="effect" id="effect" />
                </div>
                <div class="background-layout"></div>
            </div>
        </div>
    </section>

    <!-- <div id="image-container">
          <img src="./image/product_image/01/1623295993431189 1.png" alt="product image" class="" id="product_image" />
          <img src="./image/product_image/02/1623296065185117 1.png" alt="product image" class="" id="product_image" />
          <img src="./image/product_image/03/1623297617139308 1.png" alt="product image" class="" id="product_image" />
          <img src="./image/product_image/04/1623297664510603 1.png" alt="product image" class="" id="product_image" />
          <img src="./image/product_image/05/1623297715434063 1.png" alt="product image" class="" id="product_image" />
      </div> -->

    <!--JavaScript-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/script/scroll.js"></script>
    <script src="/script/app.js"></script>
</body>

</html>