<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="LookForHongKong Studio">
    <meta name="demostration" content="尋·香港">
    <meta name="description" content="由一名香港無名攝影師所創辦的分享攝影平台。在平台上會分享香港不同的相片。">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>尋·香港 Portfolio</title>
    <link rel="shortcut icon" href="./image/logo/favicon_io/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="./image/logo/favicon_io/apple-touch-icon.png"
         type="image/x-icon">

    <link rel="stylesheet" href="./style/profile.css">
    <link rel="stylesheet" href="">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <script src="https://kit.fontawesome.com/e016628e5a.js" crossorigin="anonymous"></script>
</head>

<body class="body-setting">
    <header>
        <div class="topbar">
            <nav class="nav navabr" role="navigation">
                <div class="nav navbar-logo">
                    <a href="" title="">
                        <img src="./image/logo/logo_transparent.png" alt="" width="" height="180px" />
                    </a>
                </div>

                <div class="nav menu-btn">
                    <input type="checkbox" id="toggler" class="toggler">

                    <label for="toggler">
                        <div class="menu humburger-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </label>
                </div>

                <div class="nav navbar-navlinks">
                    <ul class="nav navbar-navitems">
                        <il class="nav navbar-navitem">
                            <a href="#home" class="nav navbar-navlink">
                                尋·香港
                            </a>
                        </il>
                        <il class="nav navbar-navitem">
                            <a href="#founder" class="nav navbar-navlink">
                                關於我們
                            </a>
                        </il>
                        <il class="nav navbar-navitem">
                            <a href="#skills" class="nav navbar-navlink">
                                技能
                            </a>
                        </il>
                        <il class="nav navbar-navitem">
                            <a href="#portfolio" class="nav navbar-navlink">
                                作品集
                            </a>
                        </il>
                        <il class="nav navbar-navitem">
                            <a href="#contact" class="nav navbar-navlink">
                                聯絡
                            </a>
                        </il>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <section class="section-home main-home" id="home">
        <div class="container">
            <div class="home-text-item">
                <h2 class="home-caption">
                    尋·香港
                </h2>
                <p class="home-content">
                    由一名香港無名攝影師所創辦的分享攝影平台。 <br />
                    在平台上會分享香港不同的相片。 <br />
                    「計劃在2021年開始」
                </p>
                <a href="" class="hero-btn" id="">
                    關於我們
                </a>
            </div>
        </div>
    </section>

    <section class="section main-founder" id="founder">
        <div class="container">
            <div class="main-leadership title-container">
                <h2 class="main-founder-title">
                    創辦人
                </h2>
            </div>
            <div class="image-hero-container">
                <figure class="image-hero">
                    <!-- <img src="./image/founder/founder.png" alt="" class="founder-img-hero"  /> -->
                </figure>
            </div>
            <div class="headlines">
                <h1 class="founder-caption">
                    Mok Ka Ho
                </h1>
                <h2 class="founder-subtitle">
                    攝影師
                </h2>
                <!-- </div> -->
                <div class="bio-container">
                    <div class="bio-content-wrapper">
                        <p class="bio-content">
                            我是一名普通的設計師和攝影愛好者，目前正在就讀多媒體、虛擬現實和互動創作高級文憑課程。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section main-skills" id="skills">
        <div class="container">
            <div class="main-skills title-container">
                <h2 class="main-skills-title">
                    技能
                </h2>
            </div>
            <div class="row">
                <div class="course-col">
                    <h2 class="course-col-title">
                        程式設計
                    </h2>
                    <div class="skills-row">
                        <h2 class="skills-row-title">
                            HTML
                        </h2>
                        <span class="skills-row-subtitle">
                            80%
                        </span>
                    </div>
                    <div class="skills-row">
                        <h2 class="skills-row-title">
                            CSS
                        </h2>
                        <span class="skills-row-subtitle">
                            80%
                        </span>
                    </div>
                    <div class="skills-row">
                        <h2 class="skills-row-title">
                            JavaScript
                        </h2>
                        <span class="skills-row-subtitle">
                            60%
                        </span>
                    </div>
                    <div class="skills-row">
                        <h2 class="skills-row-title">
                            React JS
                        </h2>
                        <span class="skills-row-subtitle">
                            50%
                        </span>
                    </div>
                    <div class="skills-row">
                        <h2 class="skills-row-title">
                            Swift UI
                        </h2>
                        <span class="skills-row-subtitle">
                            30%
                        </span>
                    </div>
                </div>
                <div class="course-col">
                    <h2 class="course-col-title">
                        平面設計
                    </h2>
                    <div class="skills-row">
                        <h2 class="skills-row-title">
                            Adobe Illustrator
                        </h2>
                        <span class="skills-row-subtitle">
                            80%
                        </span>
                    </div>
                    <div class="skills-row">
                        <h2 class="skills-row-title">
                            Adobe Photoshop
                        </h2>
                        <span class="skills-row-subtitle">
                            70%
                        </span>
                    </div>
                    <div class="skills-row">
                        <h2 class="skills-row-title">
                            Adobe XD
                        </h2>
                        <span class="skills-row-subtitle">
                            50%
                        </span>
                    </div>
                    <div class="skills-row">
                        <h2 class="skills-row-title">
                            Adobe premiere Pro
                        </h2>
                        <span class="skills-row-subtitle">
                            40%
                        </span>
                    </div>
                    <div class="skills-row">
                        <h2 class="skills-row-title">
                            Figma
                        </h2>
                        <span class="skills-row-subtitle">
                            80%
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section main-portfolio" id="portfolio">
        <div class="container">
            <div class="main-portfolio title-container">
                <h2 class="main-portfolio-title">
                    作品集
                </h2>
            </div>
            <div class="project-card">
                <div class="project-card-col">
                    <a href="" class="project-item">
                        <div class="project-img-cover">
                            <img src="./image/project/porject.png" class="project-img-lazyloaded" alt="" width="284"
                                height="613" />
                        </div>
                        <div class="project-item-text">
                            <h4 class="project-item-title">
                                尋·香港
                            </h4>
                            <h6 class="project-item-subtitle">
                                平面設計，程式設計，相片集
                            </h6>
                        </div>
                    </a>
                </div>
                <!-- <div class="project-card-col">
                     <a class="project-item">
                         <div class="project-img-cover">
                             <img src="./image/project/project02.png" class="project-img-lazyloaded" alt="" />
                         </div>
                         <div class="project-item-text">
                             <h4 class="project-item-title">
                                 LookForHK1210
                             </h4>
                             <h6 class="project-item-subtitle">
                                 平面設計，程式設計，相片集
                             </h6>
                         </div>
                     </a>
                 </div> -->
                <div class="project-card-col">
                    <a class="project-item">
                        <div class="project-img-cover">
                            <img src="./image/project/project03.png" class="project-img-lazyloaded" alt="" />
                        </div>
                        <div class="project-item-text">
                            <h4 class="project-item-title">
                                封面設計
                            </h4>
                            <h6 class="project-item-subtitle">
                                平面設計，排版設計
                            </h6>
                        </div>
                    </a>
                </div>
                <div class="project-card-col">
                    <a class="project-item">
                        <div class="project-img-cover">
                            <img src="./image/project/project02.png" class="project-img-lazyloaded" alt="" />
                        </div>
                        <div class="project-item-text">
                            <h4 class="project-item-title">
                                海報設計
                            </h4>
                            <h6 class="project-item-subtitle">
                                平面設計，程式設計，相片集
                            </h6>
                        </div>
                    </a>
                </div>
                <div class="project-card-col">
                    <a class="project-item">
                        <div class="project-img-cover">
                            <img src="./image/project/project03.png" class="project-img-lazyloaded" alt="" />
                        </div>
                        <div class="project-item-text">
                            <h4 class="project-item-title">
                                LookForHK1210
                            </h4>
                            <h6 class="project-item-subtitle">
                                平面設計，程式設計，相片集
                            </h6>
                        </div>
                    </a>
                </div>
                <div class="project-card-col">
                    <a class="project-item">
                        <div class="project-img-cover">
                            <img src="./image/project/project02.png" class="project-img-lazyloaded" alt="" />
                        </div>
                        <div class="project-item-text">
                            <h4 class="project-item-title">
                                LookForHK1210
                            </h4>
                            <h6 class="project-item-subtitle">
                                平面設計，程式設計，相片集
                            </h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="main-contact" id="contact">
        <div class="main-contact title-container">
            <h1>
                尋·香港
            </h1>
        </div>
        <div class="main-contact-hero-btn-container">
            <a href="mailto: lookforhk1210@gmail.com" target="_blank" class="hero-btn">
                聯絡我們
            </a>
        </div>
    </section>



    <section class="main-footer">
        <footer>
            <div class="main-footer title-container">
                <h4>
                    關注我們
                </h4>
            </div>
            <div class="social-media-icons-container">
                <a href="https://www.facebook.com/LookForHongKongStudio" target="_blank"><i
                        class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/lookfor.hk___1210/" target="_blank"><i
                        class="fa fa-instagram"></i></a>
                <a href="./component/loading/loading.html" target="_blank"><i class="fa fa-twitter"></i></a>
                <!--<a href="mailto: lookforhk1210@gmail.com" target="_blank"><i class="fa fa-envelope-o"></i></a>-->
            </div>
            <div class="copyright-container">
                <h2 class="copyright">
                    Copyright © 2021 LookForHongKong Studio
                </h2>
            </div>
        </footer>
    </section>

    <script src="./script/app.js"></script>
</body>

</html>