@media only screen and (max-height: 390px) and (max-width: 1024px) {
    .nav {
        padding: 1% 6%;
    }

    .nav-links .nav-items .nav-item {
        display: block;
        margin: 1rem 0;
    }

    .nav-links {
        position: absolute;
        background: #374551;
        height: 100vh;
        width: 200px;
        top: 0;

        right: -200px;

        text-align: left;
        z-index: 2;
        transition: .8s cubic-bezier(1, 0, 0, 1);

        overflow: auto;
    }

    .nav-links .nav-items {
        padding: 20px;

        position: relative;
        top: 75px;
    }

    /* menu open */
    .open {
        right: 0;

    }

    .close {
        right: -200px;
    }

    /* body setting */
    .body-setting {
        overflow: auto;
    }

    .freeze {
        overflow: hidden;
    }

    /* menu btn */
    .nav .menu-btn {
        display: block;
        color: #F4F2FA;
        margin: 10px;

        position: relative;
        left: 16px;
        bottom: 8px;

        z-index: 999;
    }

    .humburger-btn {
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
    }

    .menu-btn .menu.humburger-btn span {
        background: #fff;
        border-radius: 10px;
        height: 2px;
        margin: 7px 0;
        transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

        display: block;

    }

    .menu.humburger-btn span:nth-of-type(1) {
        width: 50%;

    }

    .menu.humburger-btn span:nth-of-type(2) {
        width: 100%;
    }

    .menu.humburger-btn span:nth-of-type(3) {
        width: 75%;

    }

    #toggler:checked+label .humburger-btn span:nth-of-type(1) {
        transform-origin: bottom;
        transform: rotatez(45deg) translate(5px, -1px)
    }

    #toggler:checked+label .humburger-btn span:nth-of-type(2) {

        transform-origin: top;
        transform: rotatez(-45deg)
    }

    #toggler:checked+label .humburger-btn span:nth-of-type(3) {

        transform-origin: bottom;
        width: 55%;
        transform: translate(13px, -5px) rotatez(45deg);

    }

    .toggler {
        display: none;
    }

    .header {
        overflow-x: hidden;
    }
}

@media only screen and (max-height: 390px) and (max-width: 1024px) {
    .main-home.text-box {
        top: 55%;
    }
    
    h2.text-box-title {
        font-size: 24px;
    }

    p.text-box-content {
        margin: 10px 0 20px;
        font-size: 12px;
    }
}